.review {
    width: $pc-width;
    margin: auto;
    position: relative;
    display: flex;

    .review__image-slider {
        margin-left: 143px;
        width: 560px;

        .slider__controls {
            .control__button {
                position: absolute;
                top: 242px;
    
                background: none;
                border: none;
    
                &--right {
                    right: 682px;
                }
    
                &--left {
                    left: 96px;
                }
    
                &:hover, &:focus {
                    opacity: 0.5;
                    cursor: pointer;
                }
    
                &:active {
                    opacity: 0.7;
                }
            }
        }

        .slider__list {
            margin: 0;
            padding: 0;
            display: flex;
            margin-left: -36px;
            margin-top: 10px;

            list-style-type: none;

            .slider__item {
                margin-right: 20px;
                background: rgba(100, 100, 100, 0.15);

                &--active {
                    background-color: #fff;
                }

                &:hover, &:focus {
                    opacity: 0.5;
                }

                &:active {
                    opacity: 0.7;
                }
            }
        }
    }

    .review__overview {
        margin-top: 82px;
        margin-left: 43px;
        position: relative;
        width: 580px;

        .review__name {
            margin: 0;

            font-weight: 700;
            font-size: 24px;
            line-height: 37px;
            letter-spacing: 0.05em;
        }

        .review__price {
            display: block;
            margin-top: 10px;

            color: #686868;
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
        }

        .review__like-button {
            background: none;
            border: none;
            position: absolute;
            right: 123px;
            top: 8px;

            &:hover, &:focus {
                opacity: 0.5;
                cursor: pointer;
            }

            &:active {
                opacity: 0.7;
            }
        }

        .review__sections {
            display: flex;
            margin: 0;
            padding: 0; 
            margin-top: 40px;

            list-style-type: none;

            .review__section {
                position: relative;
                margin-right: 44px;

                .section__link {
                    color: #444240;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;

                    &:hover, &:focus {
                        text-decoration: none;
                        opacity: 0.5;
                    }

                    &:active {
                        opacity: 0.7;
                    }

                    &--active::before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        bottom: -5px;
                        left: 0px;
                        border-top: 1px solid #C4C0B6;
                    }
                }
            }
        }

        .review__description {
            margin-top: 30px;
            width: 440px;

            font-weight: 300;
            font-size: 14px;
            line-height: 23px;
            color: #000;

            .review__paragraph {
                margin-top: 20px;
            }
        }

        .review__button {
            margin-top: 52px;
            padding: 22px 54px;

            letter-spacing: 0.05em;

            &:hover, &:focus {
                opacity: 0.5;
                cursor: pointer;
            }

            &:active {
                opacity: 0.7;
            }
        }
    }
}