.watched {
    width: $pc-width;
    margin: auto;

    &__title {
        margin: 0;
        margin-top: 50px;
        margin-left: 92px;

        font-family: $playfair;
        font-weight: 400;
        font-size: 32px;
        line-height: 43px;
    }

    &__slider {
        padding-left: 90px;
        position: relative;

        .slider__controls {
            .control__button {
                position: absolute;
                top: 191.5px;

                background: none;
                border: none;

                &--right {
                    right: 44px;
                }

                &--left {
                    left: 36px;
                }

                &:hover, &:focus {
                    opacity: 0.5;
                    cursor: pointer;
                }

                &:active {
                    opacity: 0.7;
                }
            }
        }

        .slider__list {
            display: flex;
            padding: 0;
            margin-bottom: 38px;
            position: relative;

            list-style-type: none;

            .slider__item {
                width: 360px;
                min-height: 374px;
                position: relative;
                margin-bottom: 53px;
                margin-right: 30px;

                background-color: #FDFDFB;

                .item__link {
                    display: flex;
                    padding-top: 39px;
                    padding-left: 20px;
                    flex-direction: column;
                }

                .item__title {
                    padding: 0;
                    margin: 0;

                    color: #444240;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 21px;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;

                }

                .item__price {
                    margin-top: 3px;

                    color: #636261;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;                    
                }

                .item__image {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
}