.news__wrapper {
    background-color: #fff;
}

.news {
    min-height: 608px;
    width: $pc-width;
    margin: auto;
    display: flex;

    &__description {
        padding-top: 205px;
        padding-left: 95px;
    }

    &__slogan {
        margin: 0;

        font-family: $playfair;
        font-weight: 400;
        font-size: 32px;
        line-height: 43px;
    }

    &__phrase {
        min-height: 130px;
        margin-top: 25px;
        width: 376px;

        color: #444240;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
    }

    &__socials {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        width: 93px;

        list-style-type: none;
    }

    &__social {
        margin-top: 17px;

        &:hover, &:focus {
            opacity: 0.5;
        }

        &:active {
            opacity: 0.7;
        }
    }

    &__images {
        padding-top: 68px;
        padding-left: 60px;
        display: flex;

        .images__left-side {
            display: flex;
            flex-direction: column;

            img {
                margin-bottom: 5px;
            }
        }

        .images__right-side {
            margin-left: 5px;
        }
    }
}