.popular {
    min-height: 680px;
    width: $pc-width;
    margin: auto;
    background-color: #fff;

    &__header {
        min-height: 80px;
        position: relative;
    }

    &__heading {
        margin-top: 76px;

        text-align: center;
        font-family: $playfair;
        font-weight: normal;
        font-size: 32px;    
        line-height: 43px;
    }

    &__link {
        position: absolute;
        top: 37px;
        right: 94px;

        color: #444240;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;

        &::before {
            content: "";
            position: absolute;
            top: 25px;
            left: 2px;
            width: 101px;

            border-top: 1px solid #8B8371;
        }

        &:hover, &:focus {
            text-decoration: none;
            opacity: 0.5;
        }

        &:active {
            opacity: 0.7;
        }
    }

    &__watches {
        display: flex;
        margin-top: 20px;
        margin-left: 120px;
        margin-right: 64px;
        padding: 0;
        justify-content: space-between;

        list-style-type: none;
    }

    &__watch {
        width: 370px;
        min-height: 467px;
        display: flex;
        flex-direction: column;
        position: relative;

        background-color: #FDFDFB;

        &::after {
            content: "";
            position: absolute;
            top: 60px;
            left: -4px;
            width: 313px;
            height: 313px;

            background-image: url("/img/main/popular-ellipse.svg");
        }

        .watch__name {
            margin-bottom: 0px;
            margin-top: 25px;
            margin-left: 15px;

            font-family: $playfair;
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.03em;
        }

        .watch__price {
            margin-top: 3px;
            margin-left: 15px;

            font-family: $prata;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
        }

        .watch__image {
            margin-left: 0px;
        }

        .watch__link {
            position: relative;
            margin-left: 60px;
            margin-top: 10px;

            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            font-family: $playfair;
    
            &::before {
                content: "";
                position: absolute;
                top: 11px;
                left: -46px;
                width: 30px;
    
                border-top: 1px solid #8B8371;
            }
    
            &:hover, &:focus {
                text-decoration: none;
                opacity: 0.5;
            }
    
            &:active {
                opacity: 0.7;
            }
        }
    }
}