.watches {
    display: flex;
    margin-left: 120px;
    margin-right: 64px;
    padding: 0;
    justify-content: space-between;

    list-style-type: none;

    &__item {
        width: 370px;
        min-height: 467px;
        display: flex;
        flex-direction: column;
        position: relative;
    
        background-color: #FDFDFB;

        &::after {
            content: "";
            position: absolute;
            top: 60px;
            left: -4px;
            width: 313px;
            height: 313px;
    
            background-image: url("/img/main/popular-ellipse.svg");
        }
    }

    &__name {
        margin-bottom: 0px;
        margin-top: 25px;
        margin-left: 15px;

        font-family: $playfair;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
    }

    &__price {
        margin-top: 3px;
        margin-left: 15px;

        font-family: $prata;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
    }

    &__image {
        margin-left: 0px;
    }

    &__link {
        position: relative;
        margin-left: 60px;
        margin-top: 10px;

        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        font-family: $playfair;

        &::before {
            content: "";
            position: absolute;
            top: 11px;
            left: -46px;
            width: 30px;

            border-top: 1px solid #8B8371;
        }

        &:hover, &:focus {
            text-decoration: none;
            opacity: 0.5;
        }

        &:active {
            opacity: 0.7;
        }
    }
}
