body {
    padding: 0;
    margin: 0;

    font-family: $roboto;
    
    background-color: $background-color;
}

a {
    text-decoration: none;
    color: $main-text-color;
}

a:hover {
    text-decoration: underline;
}
